            </main>
        </body>
    <footer>
        <p>This page use API from <b><a href="https://jikan.moe/" id ="reference"> Jikan v4</a></b></p>
        <p>Copyright by <b>Hizumi</b></p>
    </footer>
</html>