<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Anime Finder</title>
</head>
<body>
    <header>
        <a href="/" id="title">Anime Finder</a>
        <form action="/search" method="post">
            <input type="text" name = "AnimeName" id="search" placeholder="Enter your anime name here ...">
            <button id="search-Btn"> Search </button>
        </form>
    </header>
    <main>
